<div class="fixed-top">
  <nav
    class="navbar fixed-top navbar-expand-lg bg-light white scrolling-navbar"
    style="border-bottom: 1px solid #666; font-size: 18px"
  >
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="" style="text-align: center">
        <span class="logo-ad">SYSTEM CAR</span> <br />
        <p class="sologan_ad">HỆ THỐNG ĐĂNG KIỂM</p>
      </a>

      <!-- Collapse -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fas fa-bars" style="font-size: 1.5em; color: black"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <span class="title" href=""><i class="fas fa-phone-alt"></i></span
            ><a class="abc" >0123456789</a>
            <span class="title"><i class="fas fa-comments"></i></span
            ><span class="abc"
              >Tư Vấn Chuyên Sâu<span style="color: red">(24/24)</span></span
            >
            <span class="title" href=""><i class="fas fa-bus"></i></span
            ><span class="abc">An Toàn</span>
          </li>
          <li class="nav-item users" style="position: relative">
            <a class="nav-link" href="#"
              ><i style="color: #046b7b" class="fas fa-user-circle"></i
            ></a>
            <div class="row">
              <div class="col-md-4">
                <form method="GET" action="/logout">
                  <input
                    type="submit"
                    name="logout"
                    value="Đăng xuất"
                    class="btn btn-light"
                  />
                </form>
              </div>
              
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div
  class="modal fade bd-example-modal-xl"
  id="exampleModal"
  data-backdrop="static"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" id="modal-content"></div>
  </div>
</div>

<div
  class="modal fade bd-example-modal-xl"
  id="exampleModalxx"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" id="modal-contentxx"></div>
  </div>
</div>
